services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      - DB_HOST=host.docker.internal
      - DB_PORT=15432
      - DB_USER=postgres
      - DB_PASSWORD=P@ssw0rd
      - DB_NAME=rails_common_mcp_server_development
      - SERVER_PORT=8080
    network_mode: bridge
    extra_hosts:
      - "host.docker.internal:host-gateway"